* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: rgb(3, 107, 82);
  color: white;
  display: flex;
  height: 150px;
  justify-content: space-between;
}

h1 {
  margin-left: 10px;
}

.header img {
  height: 50px;
  margin-right: 10px;
}
